.footercomponent{
    display: flex;
    flex-direction: column;
    height: 350px;
    background-color:rgb(66, 66, 66);
}
.footercomponent > h2{
    margin: 0%;
}
.footerlinks{
    height: 100px;
}
.footerlinks a, .footerlinks li{
    color: white;
    font-weight: bold;
}
.footerlinks li:hover{
    font-size: 30px;
}
.footerlinks hr{
    width: 70px;
    border-width:0;
    color: white;
    background-color:gray;
}
.aboutus{
    height: 190px;
    align-self: center;
    justify-content: center;
    width: 90%;
    font-weight: bold;
    border-radius: 10px;
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
    opacity: .7;
    transition: all .3s;
    
}
.aboutuspics{
    display: flex;
    justify-content: space-between;
}
.aboutuspics img{
    padding: 10px;
    border-radius: 40%;
}