
.profile{
  background-color: rgb(243, 234, 223);
  min-height: 100vh;

}

.user-info {
  background-color: #fff;
  padding: 1rem;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  
}


.order-details-info {
  background-color: #fff;
  padding: 1rem;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  border-top: 1px solid rgb(187, 187, 187);
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.user-details {
  margin-bottom: 1rem;
}

.user-details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-details li {
  margin-bottom: 0.5rem;
}

.order-history {
  margin-bottom: 1rem;
}

.order-history ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-history li {
  margin-bottom: 0.5rem;
}

.user-order{
  background-color: #fff;
  box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 90%;
  list-style: none;
  margin-top: 30px;
  border: 1px solid rgb(187, 187, 187);
}

.profile button {
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
  width: 200px;
}


.user-signout button {
  margin-top: 20px;
  background-color: red;
}


.profile .total-price{
  padding: 1rem;
  justify-content: right;
  padding-right: 90px;
}

.user-details {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 0px;
  max-width: 500px;
  width: 90%;
  font-weight: bold;
}

.user-details input {
  display: flex;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;


}


.user-details .input-container {
  max-width: 400px;
  width: 100%;

}