.shop {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: rgb(243, 234, 223);
}

.shop .shopTitle {
  display: flex;
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
  background-color: blanchedalmond;
}

.shop .trending {
  display: flex;
  position: center;
}

.products {
  block-size: fit-content;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  padding: 2em;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: fit-content;
  position: center;
  object-fit: inherit;
  gap: 2em;
}

.products img {
  margin: 0;
  padding: 5px;
  background-color: rgba(183, 21, 21, 0.15);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px #363530;
  position: center;
  overflow: hidden;
  width: 200px;
  max-height: 100%;
  object-fit: fill;
  height: auto;
}

.movie--poster {
  display: inline-block;
  margin: 0;
  padding: 3px;
  /* background-color: rgba(255, 255, 255, 0.15); */

  border: 1px solid rgba(255, 255, 255, 0.2);
  /* box-shadow: 0 0 20px #363530; */
  /* position: relative; */
  overflow: hidden;
  width: auto;
  height: auto;
  object-fit: inherit;
  width: fit-content;
  height: 450px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.products img:hover {
  transform: none;
  box-shadow: none;
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.products h3 {
  @media screen {
    font-size: 10px;
    width: fit-content;
  }
}
@media (max-width: 640px) {
  .shop {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .products {
    justify-content: flex-start;
    padding: 2em 0;
  }
}
