.shop {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: rgb(243, 234, 223);
}

.shop .shopTitle {
  display: flex;
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
  background-color: blanchedalmond;
}

.shop .trending {
  display: flex;
  position: center;
}

.products {
  block-size: fit-content;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  padding: 2em;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  /* width: fit-content; */
  position: center;
  object-fit: inherit;
  gap: 2em;
}

.products img {
  margin: 0;
  padding: 5px;
  background-color: rgba(183, 21, 21, 0.15);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px #363530;
  position: center;
  overflow: hidden;
  width: 200px;
  max-height: 100%;
  object-fit: fill;
  height: auto;
}

.movie--poster {
  display: inline-block;
  margin: 0;
  padding: 3px;
  /* background-color: rgba(255, 255, 255, 0.15); */

  border: 1px solid rgba(255, 255, 255, 0.2);
  /* box-shadow: 0 0 20px #363530; */
  /* position: relative; */
  overflow: hidden;
  width: auto;
  height: auto;
  object-fit: inherit;
  width: fit-content;
  height: 450px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.products img:hover {
  transform: none;
  box-shadow: none;
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.products h3 {
  @media screen {
    font-size: 10px;
    width: fit-content;
  }
}

@media screen and (max-width: 600px) {
  .shopTitle {
    font-size: 10px;
  }

  /* .products {
        gap: 0.1em;
        padding: 0.5em;
    } */

  /*  .products img {
        padding: 4px;
        border-radius: 10px;
    } */

  .products img:hover {
    transform: translateY(-3px) scale(1.02);
  }

  /* font-size: 40px; */
}

.shop-sec {
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
}

.shop-div {
  display: grid;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}
.shop #genresButtonStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .shop-div {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .shop-div {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.shop-link {
  padding: 1rem;
  transition-property: all;
  transition-duration: 200ms;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.shop-link:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105);
}

.shop-img {
  object-fit: contain;
  height: 60%;
  width: 100%;
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  .shop-img {
    height: 18rem;
  }
}

.movie-poster h3 {
  margin-top: 1rem;
  color: #060606;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-decoration: none;
}
