
.placeholder {
  margin-top: 20px;
  flex-grow: 1;
  flex-basis: 100%;
}

.genre {
  position: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1em;
}

.genre button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.genre button:hover {
  background-color: #f1c40f;
  color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.input {
  position: center;
  padding: 1em;
  margin-bottom: 20px;
  margin-top: 20px;

}


input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  width: 300px;
}

.searchImage {
  block-size: fit-content;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  padding: 1em;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: fit-content;
  position: center;
  object-fit: inherit;
  gap: 2em;
}

.searchImage img {
  margin: 0;
  padding: 5px;
  background-color: rgba(183, 21, 21, 0.15);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px #363530;
  position: center;
  overflow: hidden;
  width: 200px;
  max-height: 100%;
  object-fit: fill;
  height: auto;
}

