.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 787px) {
  .placeholder {
    flex-direction: column;
  }

  .genre {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
  }
}

@media (max-width: 589px) {
  .genre {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
  }
}

#genreButtonGroup1 {
  justify-content: center;
  align-items: center;
  padding: 1em;
}

#genreButtonGroup1 {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin: 5px;
}

#genreButtonGroup2 {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin: 5px;
}

#genreButtonGroup1:hover {
  background-color: #f1c40f;
  color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#genreButtonGroup2:hover {
  background-color: #f1c40f;
  color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.input {
  padding: 0.8em;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #f2f2f2;
  width: 50%;
  margin: 0 auto;

}

.input:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 191, 255, 0.8),
    0px 0px 20px rgba(255, 255, 0, 0.8), 0px 0px 30px rgba(0, 191, 255, 0.8),
    0px 0px 40px rgba(255, 255, 0, 0.8);
  width: 250px;
}

.input:hover {
  background-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  box-shadow: 0px 0px 10px rgba(63, 135, 166, 0.5),
    0px 0px 20px rgba(235, 248, 225, 0.5), 0px 0px 30px rgba(246, 157, 60, 0.5),
    0px 0px 40px rgba(63, 135, 166, 0.5);
  transition: all 0.5s ease-in-out;
}

input[type="text"] {
  padding: 2px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  width: 100%;
}

.searchImage {
  block-size: fit-content;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  padding: 1em;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: fit-content;
  position: center;
  object-fit: inherit;
  gap: 2em;
}

/* @media (min-width: 640px) {
  .searchImage::-webkit-scrollbar {
    display: none;
  }

} */

.searchImage img {
  margin: 0;
  padding: 5px;
  background-color: rgba(183, 21, 21, 0.15);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px #363530;
  position: center;
  overflow: hidden;
  width: 200px;
  max-height: 100%;
  object-fit: fill;
  height: auto;
}

.searchImage img:hover {
  cursor: pointer;
  transform: none;
  box-shadow: none;
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.searchImage {
  overflow-x: auto;
  overflow-y: hidden;
}

#genreButtonGroup1,
#genreButtonGroup2 {
  width: 120px;
  padding: 8px 16px;
}

@media (max-width: 640px) {

  #genreButtonGroup1,
  #genreButtonGroup2 {
    width: 120px;
    padding: 8px 16px;
  }
}

@media (min-width: 640px) {

  #genreButtonGroup1,
  #genreButtonGroup2 {
    position: static;
    left: auto;
  }


}

@media (max-width: 640px) {

  #genreButtonGroup1,
  #genreButtonGroup2 {
    cursor: pointer;
  }

  #genreButtonGroup1.show,
  #genreButtonGroup2.show {
    transform: translateX(150px);
  }
}